body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgba(17, 0, 255, 0.596), rgba(0, 0, 0, 0.596));
}

fieldset{
    border: 3px solid rgba(0, 81, 255, 0.596);
    width: 100%;
    height: auto;
    border-radius: 20px; 
}

legend {
    border: 1px solid rgba(0, 81, 255, 0.596);
    text-align: center;
    padding: 8px;
    background-color: rgba(0, 81, 255, 0.596);
    color: aliceblue;
    border-radius: 10px;
    width: 50%;
}

.box {
    width: 80%;
    height: 80%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    background-color: rgba(0, 0, 0, 0.384);
    color: aliceblue;
    padding: 1%;
    border-radius: 50px;
    text-align: center;  
    align-items: center;
    margin-top: 3%;
    margin-left: 6%;
}

.login {
    width: 25%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
}

.login img{
    width: 30vh;
    height: 30vh;
    padding: 5%;
}

.cadastro{
    display: none;
}
.cadastro {
    flex-direction: column;
    margin-left: 20%;
    width: 60%;
    height: 70%;
    color: aliceblue;
}

.gen {
    display: inline-flex;
    align-items: center;
    margin-right: 1%;
}

.gen p {
    margin-right: 1%;
}

.gen input[type="radio"],
.gen label {
    margin-right: 1%;
}

.nas{
    margin-left: 1px;
}

.inputbox{
    position: relative;
}

.inputuser{
    background: none;
    border: none;
    border-bottom: 1px solid aliceblue;
    outline: none;
    color: aliceblue;
    font-size: 20px;
    width: 100%;
    letter-spacing: 2px;
}

.labelinput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputuser:focus ~ .labelinput,
.inputuser:valid ~ .labelinput{
    top: -20px;
    font-size: 12px;
    color: darkblue;
}

#submit{
    background-image: linear-gradient(to right, rgba(17, 0, 255, 0.596), rgba(160, 2, 252, 0.596));
    width: 100%;
    border: none;
    padding: 20px;
    color: aliceblue;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

#submit:hover{
    background-image: linear-gradient(to right, rgba(17, 0, 255, 0.8796), rgba(160, 2, 252, 0.796));
    width: 100%;
    border: none;
    padding: 20px;
    color: aliceblue;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

button {
    background: linear-gradient(to right, rgba(17, 0, 255, 0.596), rgba(160, 2, 252, 0.596));
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 70%;
}

button:hover {
    background: linear-gradient(to right, rgba(17, 0, 255, 0.8796), rgba(160, 2, 252, 0.796));
}