*{
    background-color: rgb(0, 0, 0);
}

.container {
    width: auto;
    margin: 0 auto;
    margin-top: 25%;
    border-radius: 15px;
    box-shadow: 3px 5px 5px 10px red;
    background-color: rgb(148, 65, 65);
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

#display {
    color: rgb(235, 48, 48);
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #7a7878;
}

.buttons {
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: auto;
}

button {
    height: 50px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    background-color: #747272cb;
    cursor: pointer;
}

#history {
    color: #ffffff;
    overflow-y: auto;
    max-height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3%;
    font-size: 14px;
    background-color: #7a7878;
}

a {
    background-color: #747272;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 40%;
}

a:hover {
    background-color: #fff;
    color: #747272;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

@media (min-width: 426px) and (max-width: 768px) {
    *{
        background-color: rgb(0, 0, 0);
    }
    
    .container {
        width: 300px;
        margin: 0 auto;
        margin-top: 12%;
        border-radius: 15px;
        box-shadow: 3px 5px 5px 10px red;
        background-color: rgb(148, 65, 65);
        padding: 30px;
        margin-left: 25%;
  
    }
    
    #display {
        color: rgb(235, 48, 48);
        width: 100%;
        height: 40px;
        font-size: 24px;
        text-align: right;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        background-color: #7a7878;
    }
    
    .buttons {
        background-color: beige;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        width: auto;
    }
    
    button {
        height: 50px;
        font-size: 24px;
        text-align: center;
        border-radius: 5px;
        background-color: #747272cb;
        cursor: pointer;
    }
    
    #history {
        color: #ffffff;
        overflow-y: auto;
        max-height: 150px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 3%;
        font-size: 14px;
        background-color: #7a7878;
    }
    
    a {
        background-color: #747272;
        color: #fff;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        margin-left: 40%;
    }
    
    a:hover {
        background-color: #fff;
        color: #747272;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    *{
        background-color: rgb(0, 0, 0);
    }
    
    .container {
        width: 300px;
        margin: 0 auto;
        margin-top: 12%;
        border-radius: 15px;
        box-shadow: 3px 5px 5px 10px red;
        background-color: rgb(148, 65, 65);
        padding: 30px;
        margin-left: 25%;
  
    }
    
    #display {
        color: rgb(235, 48, 48);
        width: 100%;
        height: 40px;
        font-size: 24px;
        text-align: right;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        background-color: #7a7878;
    }
    
    .buttons {
        background-color: beige;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        width: auto;
    }
    
    button {
        height: 50px;
        font-size: 24px;
        text-align: center;
        border-radius: 5px;
        background-color: #747272cb;
        cursor: pointer;
    }
    
    #history {
        color: #ffffff;
        overflow-y: auto;
        max-height: 150px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 3%;
        font-size: 14px;
        background-color: #7a7878;
    }
    
    a {
        background-color: #747272;
        color: #fff;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        margin-left: 40%;
    }
    
    a:hover {
        background-color: #fff;
        color: #747272;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }
}

@media (min-width: 1025px){
    *{
        background-color: rgb(0, 0, 0);
    }
    
    .container {
        width: 300px;
        margin: 0 auto;
        margin-top: 12%;
        border-radius: 15px;
        box-shadow: 3px 5px 5px 10px red;
        background-color: rgb(148, 65, 65);
        padding: 30px;
        margin-left: 25%;
  
    }
    
    #display {
        color: rgb(235, 48, 48);
        width: 100%;
        height: 40px;
        font-size: 24px;
        text-align: right;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        background-color: #7a7878;
    }
    
    .buttons {
        background-color: beige;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        width: auto;
    }
    
    button {
        height: 50px;
        font-size: 24px;
        text-align: center;
        border-radius: 5px;
        background-color: #747272cb;
        cursor: pointer;
    }
    
    #history {
        color: #ffffff;
        overflow-y: auto;
        max-height: 150px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 3%;
        font-size: 14px;
        background-color: #7a7878;
    }
    
    a {
        background-color: #747272;
        color: #fff;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        margin-left: 40%;
    }
    
    a:hover {
        background-color: #fff;
        color: #747272;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }

}